<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmailMigratorLib.Properties.Settings.GodaddyMigratorConnectionString"
            connectionString="Data Source=NATSURU;Initial Catalog=GoDaddyMigrator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>